.App {
  text-align: center;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
}
h1{
  text-align: left;
}
table{
 width: 100%;
}
thead tr th{
  text-align: left;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}
tbody tr{
  
}
tbody tr td{
  text-align: left;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

.referal .title{
  font-weight: 700;
}
.referal .date{
  font-weight: 100;
  color: gray;
  padding: 5px 0;
}
.referal .count{
  font-weight: 700;
  display: inline-block;
}
.referal .curency{
  font-weight: 700;
  display: inline-block;
}

.advocate .advocate-email{
  font-weight: 700;
  padding: 0 0 5px;
}

.friend .friend-email{
  font-weight: 700;
  padding: 0 0 5px;
}

.status{
  font-weight: 700;
  padding: 0 0 5px;
}
.true{
  font-weight: 100;
  color: gray;
  padding: 5px 0;
}
.false{
  font-weight: 100;
  color: red;
  padding: 5px 0;
}